<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>JSB MEETING - GET STARTED</title>

    <link rel="stylesheet" href="static/assets/css/style.css">

<!--

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

-->
</head>

<body>
    <div class="container">
        <div class="card">
            <h1 class="title">JSB ROOM</h1>
            <p class="subtitle">Introducing "JSB ROOM" <br></br> <br></br> Book your meeting room in advance <br></br> <br></br> <b>CLICK BELOW TO GET STARTED!</b></p>
                <button class="btn" > <a href="{% url 'home_view' %}"> Get Started </a></button>
        </div>
        <div class="blob"></div>
    </div>
</body>
</html>